<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="../../../public/vendor/bootstrap-4.1/bootstrap.min.css">
        <link rel="stylesheet" href="../../../public/css/theme-admin.css">
        <link rel="stylesheet" href="../../../public/vendor/font-awesome-4.7/css/font-awesome.css">
        <link rel="stylesheet" href="../../../public/vendor/font-awesome-5/css/fontawesome-all.min.css">
    </head>
    <body>
        <div class="col-md-2 menu-sidebar">
            <div class="logo-admin">
                <a href="#">
                    <img src="../../../public/images/icon/logo.png" height="48" width="200"/>
                </a>
            </div>
            <div class="sidebar">
                <nav class="navbar-sidebar">
                    <ul>
                        <li>
                            <a href="#">
                                <div class="row">
                                    <div class="col-md-2">
                                        <i class="fas fa-tachometer-alt"></i>
                                    </div>
                                    <div class="col-md-10">
                                        Dashboard
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#Coupon" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="Coupon">
                                <div class="row">
                                    <div class="col-md-2">
                                        <i class="fas fa-ticket-alt"></i>
                                    </div>
                                    <div class="col-md-10">
                                        Coupon
                                    </div>
                                </div>
                            </a>
                            <div class="collapse Coupon-collapse" id="Coupon">
                                <div class="col-md-12">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                All Coupon
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Add New
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Category
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Store
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#">
                                <div class="row">
                                    <div class="col-md-2">
                                        <i class="fas fa-calendar-alt"></i>
                                    </div>
                                    <div class="col-md-10">
                                        Calendar
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="row">
                                    <div class="col-md-2">
                                        <i class="fas fa-map-marker-alt"></i>
                                    </div>
                                    <div class="col-md-10">
                                        Maps
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="{{ route('logout') }}"  onclick="event.preventDefault();
                                                     document.getElementById('logout-form').submit();">
                                <form id="logout-form" action="{{ route('logout') }}" method="POST" style="display: none;">
                                    {{ csrf_field() }}
                                </form>
                                <div class="row">
                                    <div class="col-md-2">
                                        <i class="fas fa-sign-out-alt"></i>
                                    </div>
                                    <div class="col-md-10">
                                        Logout
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </body>
    <script src="../../../public/vendor/jquery-3.2.1.min.js"></script>
    <script src="../../../public/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="../../../public/vendor/bootstrap-4.1/bootstrap.min.js"></script>
</html>